.post-teaser__tags {

}

.teaser-tag {
    letter-spacing: 2px;   
}

.teaser-tag a::before {
    content: "#";
}

.body-text {
    width: 50%;
    text-align: justify;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="body-text"] {
      width: 100%;
    }
  }